@import "variables";

:root {
  color-scheme: dark;
}

.BaseLayout {
  background-color: var(--body) !important;
  color: var(--text-secondary);
}

div > a {
  color: var(--text-link);
}

.Selectbox-button {
  background-color: var(--nico-dark) !important;
  border-color: var(--nico-dark-2) !important;

  &:hover {
    border-color: var(--nico-dark-4) !important;
  }

  .Selectbox-label {
    color: var(--text-secondary) !important;
  }
}

.Selectbox {
  background-color: var(--nico-dark) !important;
  box-shadow: none !important;
}