@import "variables";

// ヘッダー

.UserPage-header,
.UserDetailsHeader {
  background-color: var(--nico-dark) !important;
}

.UserDetailsHeader-nickname {
  color: var(--text-primary) !important;
}

.UserDetailsHeader-account,
.UserDetailsStatusItem-linkLabel,
.Dropdown-button {
  color: var(--text-secondary) !important;
}

.Dropdown-button:hover,
.ShareButton_grey:hover,
.NC-ThreePointMenu-button:hover {
  background-color: var(--nico-dark-hover) !important;
}

.NC-ThreePointMenu-button {
  border-radius: 50%;
}

// ニコニコだと何故か:afterでホバー時の背景色を指定しているので無効化する
.NC-ThreePointMenu-button:hover:after {
  background: none !important;
}

.NiconicoPoint {
  background-color: var(--nico-dark-1) !important;
}

.ProgressBar.UserDetailsHeader-levelBar {
  background-color: var(--nico-dark-3) !important;
}

.SearchContainer {
  .CrossSearch-rowSelector {
    background-color: var(--search-selector) !important;
    border-color: var(--nico-dark-border) !important;
  }

  .CrossSearch-rowService {
    color: var(--text-secondary) !important;

    &.active {
      color: var(--text-primary) !important;
    }
  }

  .CrossSearch-form {
    background-color: var(--nico-dark-secondary) !important;
    border-color: var(--nico-dark-border) !important;

    .CrossSearch-input {
      color: var(--text-primary) !important;

      &::placeholder {
        color: var(--text-secondary) !important;
      }
    }
  }
}

.PersonalFrame {
  .PersonalFrame-body {
    background-color: var(--nico-dark-secondary) !important;
    border-color: var(--nico-dark-border) !important;

    a {
      color: var(--text-primary) !important;
    }
  }
}

.OtherMypageLinks, .NC-ThreePointMenu-menu {
  background-color: var(--dropdown-background) !important;

  .OtherMypageLinks-link, .UserDetailsMenu-item, .NicorepoItemMenu-item {
    color: var(--text-primary) !important;

    &:hover {
      background-color: var(--dropdown-background-hover) !important;
    }
  }
}

.PcUniTop468x60NorthAdContainer-skeleton,
.UserDetailsHeaderSkeleton-icon,
.UserDetailsHeaderSkeleton-nickname,
.UserDetailsHeaderSkeleton-account,
.UserDetailsHeaderSkeleton-statusLabel,
.UserDetailsHeaderSkeleton-statusValue,
.UserDetailsHeaderSkeleton-description {
  background: var(--nico-dark-secondary) !important;
}

.MainMenuContainer-menu {
  background-color: var(--body) !important;
  box-shadow: none !important;
}

.NC-Tabs {
  background-color: var(--body) !important;

  .NC-Tab:not(.active):not(:hover) {
    color: var(--text-secondary) !important;
  }
}

.UserDetailsContainer:after {
  background-color: var(--body-border) !important;
}

// 左側のメニュー
.SubMenuLinkList {
  .SubMenuLink-link_active {
    background-color: var(--nico-dark) !important;
  }

  .SubMenuLink-link_internal:hover {
    background-color: var(--nico-dark-2) !important;
  }

  .SubMenuLink-link_internal:not(.SubMenuLink-link_active):not(:hover) > .SubMenuLink-label {
    color: var(--text-secondary) !important;
  }
}

.MylistSideContainer_hasMylistItem .MylistSideContainer-categoryList > :last-child,
.VideoSideContainer_hasSeriesItems .VideoSideContainer-categoryList > :last-child {
  border-bottom-color: var(--nico-dark-2) !important;
}

.MylistSideContainer-mylistList > * {
  background-color: var(--nico-dark) !important;
}

.MylistHeader {
  &::after {
    background-color: var(--body-border) !important;
  }

  .MylistHeader-name {
    color: var(--text-primary) !important;
  }

  .MylistHeader-metaItem {
    color: var(--text-secondary) !important;
  }

  .MylistHeader-metaItemValue {
    color: var(--text-meta-value) !important;
  }
}

.RadioItem {
  & > label:before {
    border-color: var(--radio-color) !important;
  }

  & > input:not(:checked) + label:after {
    background-color: var(--radio-color) !important;
  }
}

.ModalActionButton {
  background-color: var(--modal-action-button-background) !important;
  color: var(--modal-action-button-text) !important;
  box-shadow: none !important;

  &:hover {
    background-color: var(--modal-action-button-background-hover) !important;
  }
}

.NicorepoItem-item {
  background-color: var(--item-background) !important;
  border-color: var(--item-border) !important;

  .NicorepoItem-senderName:not(:hover) {
    color: var(--text-primary) !important;
  }

  .NicorepoItem-activityCreatedAt:not(.NicorepoItem-activityCreatedAt_new), .NicorepoItem-activityDescription {
    color: var(--text-secondary) !important;
  }

  a:not(:hover) {
    .NicorepoItem-contentDetailTitle {
      color: var(--text-primary);
    }
  }

  a:visited:not(:hover) {
    .NicorepoItem-contentDetailTitle {
      color: var(--text-secondary);
    }
  }

  .ContentLabel {
    background-color: var(--item-content-label);
  }
}

// スケルトン

.NicorepoItemSkeleton {
  background-color: var(--item-background) !important;
  border-color: var(--item-border) !important;

  .NicorepoItemSkeleton-senderIcon,
  .NicorepoItemSkeleton-senderName,
  .NicorepoItemSkeleton-activityDescription,
  .NicorepoItemSkeleton-contentThumbnail,
  .NicorepoItemSkeleton-contentDetailLabel,
  .NicorepoItemSkeleton-contentDetailTitle {
    background-color: var(--item-skeleton) !important;
  }
}

.FollowOwnerItemSkeletonList > li {
  border-color: var(--item-border) !important;
  background-color: var(--item-background) !important;

  figure,
  h1,
  .FollowOwnerItemSkeletonList-content1,
  .FollowOwnerItemSkeletonList-content2,
  .FollowOwnerItemSkeletonList-follow {
    background-color: var(--item-skeleton) !important;
  }
}

.NC-MylistMediaObjectSkeleton {
  border-color: var(--item-border) !important;
  background-color: var(--item-background) !important;

  .NC-MylistMediaObjectSkeleton-body > h1,
  .NC-MylistMediaObjectSkeleton-description,
  .NC-MylistMediaObjectSkeleton-follow,
  .NC-MylistMediaObjectSkeleton-thumbnails > figure {
    background-color: var(--item-skeleton) !important;
  }

  .NC-MylistMediaObjectSkeleton-thumbnails {
    background: none !important;
  }
}

.NC-VideoMediaObjectSkeleton > figure,
.NC-VideoMediaObjectSkeleton-bar {
  background-color: var(--item-skeleton) !important;
}

.VideoMediaObjectList > * + * {
  border-top-color: var(--body-border) !important;
}

.VideoSideContainer-seriesList > * {
  background-color: var(--nico-dark) !important;
}

.PageTopButton {
  background-color: var(--nico-dark) !important;

  path {
    fill: var(--text-secondary) !important;
  }
}

.RecommendUserContainer-title {
  color: var(--text-secondary) !important;
}

.UserItem {
  &:hover {
    box-shadow: none !important;
  }

  .UserItem-link {
    color: var(--text-secondary) !important;

    .UserItem-content {
      background-color: var(--item-background);
      border-color: var(--item-border);

      .UserItem-description {
        color: var(--text-secondary) !important;
      }
    }
  }

  .UserItem-link:not(:hover) {
    .UserItem-nickname {
      color: var(--text-primary) !important;
    }
  }
}

.NC-MylistMediaObject {
  background-color: var(--item-background) !important;
  border-color: var(--item-border) !important;
  box-shadow: none !important;

  .NC-MediaObject-contents:not(:hover) .NC-MediaObjectTitle {
    color: var(--text-primary) !important;
  }

  .NC-MylistMediaObject-thumbnails {
    background-color: var(--nico-dark) !important;
    border-color: var(--nico-dark-2) !important;
  }

  .NC-MylistMediaObject-bodyFollowerCount,
  .NC-MylistMediaObject-itemCount {
    color: var(--text-secondary) !important;
  }

  .NC-MylistMediaObject-thumbnail:nth-of-type(3):before {
    background: linear-gradient(90deg, hsla(0, 0%, 98%, 0), var(--nico-dark)) !important;
  }
}

.UserPage-header {
  .UserDetailsHeader-icon .UserIcon {
    background-color: var(--nico-dark) !important;
  }

  .FollowButton_following {
    &:not(:hover) {
      background-color: var(--nico-dark-2) !important;
      color: var(--text-secondary) !important;
    }

    &:hover {
      background-color: var(--nico-dark-4) !important;
    }
  }

  .ExpandBox-expanded {
    color: var(--text-secondary);
  }

  .ExpandBoxButton-overlay {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, var(--nico-dark)) !important;
  }

  .ExpandBoxButton {
    color: var(--text-secondary) !important;
  }

  .NC-CreatorSupportAccepting:not(:hover) {
    &.NC-CreatorSupportAccepting_outlined .NC-CreatorSupportAccepting-content {
      border-color: var(--nico-dark-4) !important;
    }

    .NC-CreatorSupportAccepting-arrow {
      border-color: var(--nico-dark-4) !important;
      background-color: var(--nico-dark-2) !important;
    }

    .NC-CreatorSupportAccepting-content {
      background-color: var(--nico-dark-2) !important;
    }
  }
}

.BlankState-title {
  color: var(--text-secondary) !important;
}